<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
  <add name="VatplanEntities" 
       connectionString="metadata=res://*/DB.VatplanEntities.csdl|res://*/DB.VatplanEntities.ssdl|res://*/DB.VatplanEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ESTEBAN-PC\SQLEXPRESS16;persist security info=True;user id=VatplanUser;password=User;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
       providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>