<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VatplanEntities" 
      connectionString="metadata=res://*/DB.VatplanContext.csdl|res://*/DB.VatplanContext.ssdl|res://*/DB.VatplanContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ESTEBAN-PC\SQLEXPRESS16;initial catalog=Vatplan;integrated security=False;User ID=VatplanUser;Password=User;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>